*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.vd{
    width: 10rem;
    height: auto;
}
.eplist{
    width: 9.2rem;
    height: 1.2rem;
    margin: 0 auto;
}
.eplist li{
    float: left;
    height: 1.2rem;
    line-height: 1.2rem;
}
.back{
    width: 1.32rem;
    font-size: 0.48rem;
    color: #333333;
    border: none;
    background: #ffffff;
    outline: none;
    float: left;
    padding-left: 0.4rem;
    background: url("../images/call_back.png")center left no-repeat;
    background-size: 0.267rem 0.467rem;
    text-decoration: none;
}
.eplist li:nth-child(1){
    width: 2.2rem;
}
.eplist li:nth-child(2){
    width: 5rem;
    text-align: center;
    font-size: 0.48rem;
    color: #333333;
}
.eplist li:nth-child(3){
    width: 2rem;
    text-align: right;
}
video{
    width: 10rem;
    height: 5.64rem;
}
.vd_p{
    width: 8.8rem;
    font-size: 0.4rem;
    line-height: 0.56rem;
    color: #333333;
    margin: 0 0 0.4rem 0.347rem;
}
.vd_box{
    width: 9.307rem;
    margin: 0 auto 0.4rem auto;
    line-height: 0.56rem;
}
.vd_box:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.vd_left{
    width: 1.6rem;
    height: 0.56rem;
    float: left;
    line-height: 0.56rem;
    font-size: 0.373rem;
    color: #999999;
}
.vd_left img{
    float: left;
    width: 0.373rem;
    height: 0.24rem;
    margin: 0.18rem 0.093rem 0 0;
}
.vd_right{
    float: right;
    width: 1.12rem;
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.373rem;
    color: #999999;
}
.vd_right01{
    float: right;
    width: 1.12rem;
    height: 0.56rem;
    line-height: 0.56rem;
    font-size: 0.373rem;
    color: #999999;
    display: none;
}
.more{
    float: right;
    margin-top:0.16rem;
    width: 0.173rem;
    height: 0.333rem;
}
.down{
    float: right;
    width: 0.32rem;
    height: 0.16rem;
    margin-top:0.25rem;
}
.vd_box01{
    width: 9.267rem;
    height: 0rem;
    font-size: 0.373rem;
    line-height: 0.56rem;
    color: #999999;
    overflow: hidden;
    margin: 0 auto;
   transition: all 0.5s;
}
.tab_menu{
    width: 9.306rem;
    height: 1.253rem;
    margin: 0 auto;
    border-top: 0.02rem solid #ececec;
    overflow:hidden;
}
.tab_menu li{
    width: 4.653rem;
    float:left;
    height:1.253rem;
    line-height:1.253rem;
    box-sizing: border-box;
    font-size: 0.4rem;
    color: #333333;
    background:#ffffff;
    text-align:center;
    cursor:pointer;
    border-bottom: 0.053rem solid #ffffff;
}
.tab_menu li.current{
    width: 4.6rem;
    color: #ff6f43;
    border-bottom: 0.053rem solid #ff6f43;
}

.tab_box{
    width: 10rem;
    height: 4.6rem;
    overflow: auto;
}
.tab_box .hide{
    display:none;
}
.tab_box ul{
    width: 11.88rem;
    height: auto;
    margin-left: 0.213rem;
}
.tab_box ul:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.tab_box ul li{
    float: left;
    width: 3.6rem;
    height: 3.88rem;
    margin: 0.36rem 0.134rem;
}
.tab_box ul li:last-child{
    margin: 0.36rem 0.347rem 0.36rem 0.134rem;
}
.tab_box ul li img{
    width: 3.6rem;
    height: 2.533rem;
}
.tab_box ul li p{
    width: 3rem;
    font-size: 0.373rem;
    line-height: 0.507rem;
    color: #333333;
}
.vd_box02{
    width: 10rem;
    height: 0.267rem;
    background-color: #eeeeee;
}
.vd_box03{
    width: 10rem;
    height: auto;
    background: #ffffff;
}
.vd_box04{
    width: 9.307rem;
    height: 1.067rem;
    margin: 0 auto 0.493rem auto;
    background-color: #ffffff;
    border-bottom: 0.02rem solid #ececec;
}
.vd_box04 div{
    width: 1.787rem;
    height: 1.047rem;
    line-height: 1.047rem;
    font-size: 0.4rem;
    color: #ff6f43;
    border-bottom: 0.04rem solid #ff6f43;
    padding-left: 0.24rem;
}
.vd_box04 div span{
    font-size: 0.4rem;
    color: #999999;
}
.vd_box05{
    width: 9.307rem;
    height: auto;
    margin: 0.4rem auto 0 auto;
   border-bottom: 0.02rem solid #ececec;
}
.vd_box05:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.vd_box06{
    float: left;
    width: 0.853rem;
    height: 0.853rem;
}
.vd_box06 img{
    float: left;
    width: 0.853rem;
    height: 0.853rem;
}
.vd_box07{
    float: right;
    width: 8.24rem;
    height: auto;
    margin-bottom: 0.387rem;
}
.vd_box08{
    width: 8.24rem;
    height: auto;
}
.vd_box08:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.vd_box08>div{
    float: left;
}
.vd_box09{
    width: 2rem;
    height: auto;
}
.vd_p01{
    font-size: 0.373rem;
    line-height: 0.4rem;
    color: #ff6f43;
}
.vd_p02{
    font-size: 0.32rem;
    line-height: 0.4rem;
    color: #999999;
    margin-top: 0.12rem;
}
.vd_box10{
    width: 0.866rem;
    height: 0.4rem;
    margin: 0.373rem 0.72rem 0 2.8rem;
    font-size: 0.32rem;
    line-height: 0.4rem;
    color: #999999;
    padding-left: 0.654rem;
    background: url("../images/vd/reply.png")left center no-repeat;
    background-size: 0.427rem 0.4rem;
}
.vd_box11{
    width: 0.626rem;
    height: 0.44rem;
    margin-top: 0.32rem;
    font-size: 0.32rem;
    line-height: 0.44rem;
    color: #999999;
    padding-left: 0.574rem;
    background: url("../images/vd/praise01.png")left center no-repeat;
    background-size: 0.427rem 0.44rem;
}
.vd_p03{
    font-size: 0.4rem;
    line-height: 0.4rem;
    letter-spacing: 0.02rem;
    color: #333333;
    margin-top: 0.427rem ;
}
.vd_box12{
    width: 8.24rem;
    height:auto;
    background-color: #f7f7f7;
    border-radius: 0.08rem;
    margin-top: 0.2rem;
    padding-top: 0.347rem;
    padding-bottom: 0.28rem;
}
.vd_p04{
    width: 7.75rem;
    font-size: 0.32rem;
    line-height: 0.48rem;
    letter-spacing: 0.016rem;
    color: #999999;
    margin-left: 0.2rem;
    margin-bottom: 0.227rem;
}
.vd_p05,.vd_p06{
    margin: 0.227rem 0 0.227rem 0.2rem;
    font-size: 0.32rem;
    line-height: 0.48rem;
    letter-spacing: 0.016rem;
    color: #333333;
}
.hide{
    width: 8.24rem;
    height:auto;
    display: none;
}
.vd_p07{
    text-align: center;
    line-height: 1.107rem;
    font-size: 0.4rem;
    letter-spacing: 0.02rem;
    color: #cccccc;
}
.vd_box13{
    width: 10rem;
    height: 1.307rem;
    background-color: #ffffff;
    box-shadow: inset 0rem 0.013rem 0rem 0rem
    #e0e0e0;
}
.vd_list{
    width: 10rem;
    height: auto;
}
.vd_list:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.vd_list li{
    float: left;
    width: 0.6rem;
    text-align: center;
    height: 0.92rem;
    margin-top: 0.24rem;
}
.vd_list li:first-child{
    width: 5.467rem;
    height: 0.88rem;
    margin: 0.213rem 0.4rem 0 0.347rem;
}
.vd_list li a{
    display: block;
    width: 0.6rem;
    text-align: center;
    height: 0.92rem;
    text-decoration: none;
}
.vd_list input{
    float: left;
    width: 4.881rem;
    height: 0.88rem;
    background: #f0f0f0;
    border: none;
    outline: none;
    border-radius: 0.44rem;
    font-size: 0.373rem;
    letter-spacing: 0.019rem;
    padding:0 0.293rem;
    color: #333333;
}
.vd_list input::-webkit-input-placeholder {
    color: #999999;
}
.vd_list li p{
    font-size: 0.267rem;
    letter-spacing: 0.013rem;
    color: #999999;
    padding-top: 0.54rem;
}
.vd_list li:nth-child(3){
    margin: 0.24rem 0.747rem 0 0.76rem;
}
.vd_list li:nth-child(2) a{
    background: url("../images/vd/share.png") center top no-repeat;
    background-size: 0.48rem 0.48rem;
}
.vd_list li:nth-child(3) a{
    background: url("../images/vd/collect.png") center top no-repeat;
    background-size: 0.493rem 0.493rem;
}
.vd_list li:nth-child(4) a{
    background: url("../images/vd/download.png") center top no-repeat;
    background-size: 0.48rem 0.493rem;
}
.reply{
    width: 10rem;
    height: 70rem;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.replybox{
    width: 10rem;
    height: 3.867rem;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 888;
}
.replybox textarea{
    width:8.746rem;
    height: 1.84rem;
    background-color: #f7f7f7;
    margin: 0.267rem 0.347rem 0 0.347rem;
    resize: none;
    border: none;
    outline: none;
    font-size: 0.4rem;
    line-height: 0.48rem;
    letter-spacing: 0.02rem;
    color: #333333;
    padding: 0.28rem;
}
.vd_list textarea::-webkit-input-placeholder {
    color: #999999;
}
.replybox01{
    width: 9.306rem;
    height: auto;
    margin: 0 auto;

}
.replybox01:after{
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.replybox02{
    float: left;
    width: 0.72rem;
    height: 0.72rem;
}
.replybox02 img{
    float: left;
    width: 0.72rem;
    height: 0.72rem;
}
.replybox03{
    width: 2.3rem;
    float: right;
    height: 0.747rem;
    line-height: 0.747rem;
    font-size: 0.347rem;
    color: #cccccc;
}
.replybox03 button{
    float: right;
    width: 1.467rem;
    height: 0.747rem;
    background: #cccccc;
    border: none;
    outline: none;
    border-radius: 0.373rem;
    font-size: 0.347rem;
    letter-spacing: 0.017rem;
    color: #ffffff;
}
.replybox04{
    width: 10rem;
    height: 70rem;
    position: fixed;
    top: 0;
    left: 0;
}