.nav{
    width: 10rem;
    height: 1.16rem;
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-around;
}
.nav>li{
    width: 1.71rem;
    height: 1.16rem;
    box-sizing: border-box;
    color: #333;
    font-size: 0.43rem;
    text-align: center;
    line-height: 1.02rem;
}
.nav>.now{
    color: #FF6F43;
    border-bottom: 0.05rem solid #FF6F43;
}
.undernav{
    width: 10rem;
    height: 4.88rem;
}
.nice-select input{
    width: 4.39rem;
    height: 0.96rem;
    border: 0.03rem solid #E5E5E5;
    box-sizing: border-box;
    font-size: 0.37rem;
    color: #222;
    padding-left: 0.27rem;
    outline: none;
}
.nice-select:nth-of-type(n){
    float: left;
    margin-left: 0.43rem;
}
.nice-select:last-of-type{
    margin-bottom: 0.53rem;
}
.nice-select>li{
    float: left;
}
.nice-select ul{
    width: 4.39rem;
    display: none;
    position: absolute;
    overflow: hidden;
}
.nice-select ul>li{
    width: 4.39rem;
    font-size: 0.37rem;
    text-indent: 0.27rem;
    color: #222;
    padding: 0.2rem 0;
    border-bottom: 0.03rem solid #ededed;
    box-sizing: border-box;
    background: #fff;
}
.undernav>input{
    width: 4.39rem;
    height: 0.96rem;
    border-radius: 0.11rem;
    border: none;
    color: #fff;
    text-align: center;
    line-height: 0.96rem;
    font-size: 0.43rem;
    outline: none;
}
.undernav>input:first-of-type{
    background: #FA9428;
    float: left;
    margin-left: 0.43rem ;
}
.undernav>input:last-of-type{
    background: #FF6F43;
    margin-right: 0.4rem;
    float: right;
}
.cot{
    width: 10rem;
    margin: 0.43rem auto 0 auto;
    background: #fff;
}
.listgroup{
    width: 9.14rem;
    margin: 0 auto;
}
.listbox{
    width: 9.14rem;
}
.loanlist{
    width: 9.14rem;
    height: 2.05rem;
    margin: 0.43rem auto 0 auto;
    border-bottom: 0.03rem solid #F0F0F0;
}
.loanlist:last-of-type{
    border: none;
}
.loleft p:nth-of-type(1){
    height: 0.43rem;
    font-size: 0.32rem;
    line-height: 0.32rem;
}
.loleft{
    float: left;
}
.loleft p:nth-of-type(1) img{
    width: 0.43rem;
    height: 0.43rem;
    float: left;
}
.loleft p:nth-of-type(1)>span{
    margin-top: 0.04rem;
    display: inline-block;
    margin-left: 0.16rem;
}
.loleft p:nth-of-type(2){
    margin-top: 0.1rem;
    font-size: 0.48rem;
    color: #FF6F43;
}
.loleft p:nth-of-type(3){
    margin-top: 0.19rem;
    color: #999;
    font-size: 0.32rem;
}
.lomid{
    float: left;
    margin-left: 0.5rem;
}
.lomid p:nth-of-type(1){
    margin-top: 0.7rem;
    font-size: 0.32rem;
    color: #333;
}
.lomid p:nth-of-type(2){
    margin-top: 0.27rem;
    font-size: 0.32rem;
    color: #999;
}
.inlibtn{
    width:1.68rem;
    height:0.69rem;
    background:rgba(255,255,255,1);
    border:0.03rem solid rgba(255,111,67,1);
    opacity:1;
    border-radius:27rem;
    float: right;
    margin-top: 0.72rem;
    font-size: 0.37rem;
}
.inlibtn>a{
    color: #FF6F43;
}


