body{
    background: #f8f8f8;
}
.offer{
    width: 9.15rem;
    margin: 1.6rem auto 0 auto;
    background: #fff;
    overflow: hidden;
}
.offer>p:first-of-type{
    color: #666;
    font-size: 0.43rem;
    text-align: center;
    margin-top: 0.53rem;
}
.offer p:first-of-type>span{
    display: inline-block;
    width: 2.83rem;
    height: 0.03rem;
    background-color: #C7C7C7;
    margin-bottom: 0.16rem;
}
.offer p:first-of-type>span:first-of-type{
    margin-right: 0.43rem;
}
.offer p:first-of-type>span:last-of-type{
    margin-left: 0.43rem;
}
.color_box{
    width: 8.27rem;
    height: 1.6rem;
    border-radius: 0.11rem;
    margin: 0.53rem auto 0 auto;
    background: #E3E3E3;
    overflow: hidden;
}
.color_box>p{
    width: 7.84rem;
    height: 1.14rem;
    margin: 0.21rem auto;
    border-radius: 0.11rem;
    font-size: 0.32rem;
    color: #666;
    border: 0.03rem solid #909090;
    line-height: 1.14rem;
    text-align: right;
    padding-right: 0.27rem;
    box-sizing: border-box;
}
.color_box>p i{
    font-style: normal;
    font-size: 0.64rem;
    color: #FF6F43;
    padding-right: 0.05rem;
}
.paylist{
    width: 8.27rem;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 0.16rem;
}
.paylist>li{
    margin-top: 0.43rem;
    font-size: 0.37rem;
    color: #666;
}
.paylist>li:nth-of-type(odd){
    float: left;
    padding-left: 0.19rem;
}
.paylist>li:nth-of-type(even){
    float: right;
    padding-left: 0.19rem;
}
.paylist>li:nth-of-type(n+3){
    margin-top: 0.53rem;
}
.paylist>li i{
    padding-left: 0.17rem;
    font-style: normal;
    letter-spacing: 0.1rem;
}
.sel{
    width: 8.19rem;
    height: 1.2rem;
    margin: 0.43rem auto;
    position: relative;
}
.sel1{
    margin-top: 0.59rem;
}
.sel>img {
    width: 0.18rem;
    height: 0.32rem;
    position: absolute;
    top: 0.4rem;
    left: 7.52rem;
}
.sel>input{
    width: 8.17rem;
    height: 1.2rem;
    box-sizing: border-box;
    display: block;
    border: 0.03rem solid #c9c9c9;
    border-radius: 0.11rem;
    font-size: 0.43rem;
    padding-left: 0.43rem;
    outline: none;
}
.sel1>input{
    color: #333;
}
.sel2>input{
    color: #999;
}
.sel2>p{
    position: absolute;
    top: 0.3rem;
    left: 7.2rem;
    font-size: 0.43rem;
    color: #333;
}
.offer>input{
    width: 8.17rem;
    height: 1.2rem;
    margin: 0.43rem auto 0 auto;
    box-sizing: border-box;
    display: block;
    border: 0.03rem solid #c9c9c9;
    border-radius: 0.11rem;
    font-size: 0.43rem;
    padding-left: 0.43rem;
    outline: none;
    color: #999;
}
.offer>input:last-of-type{
    background: #FF6F43;
    border: none;
    color: #fff;
    text-align: center;
    padding-left: 0;
    margin-bottom: 0.64rem;
}